.contact {
  padding-bottom: 5rem;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 40px;
  width: 100%;
  border-radius: 5px;
}
.form {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.form-group {
  background-color: var(--primary-color);
  height: 105%;
  width: 100%;
  padding: 20px;
  border-radius: 5px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.map {
  margin-top: 2.5rem;
}

.btn:hover {
  background-color: var(--line-color) !important;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none !important;
}