@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
}

/* landing page css */
.landing-page-img {
  background-image: url("../assets/building.jpg");
  background-size: 1350px 839px;
  background-attachment: fixed;
  filter: blur(2px) contrast(150%) brightness(35%);
  overflow: hidden;
  height: 130vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.sm {
  font-size: 15px !important;
}

.landing-content {
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;
  > h2,
  h1 {
    color: #ffffff;
  }

  > h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  h1 {
    font-family: "Cedarville Cursive", cursive;
    margin-top: 2rem;
    font-size: 5rem;
    font-weight: 900;
  }

  > p {
    color: #f5f5f5;
    width: 60%;
    font-weight: 600;
  }
}

.landing-btns {
  margin-top: 6rem;
  padding: 5px;
  display: flex;
  gap: 20px;
}

.btn1 {
  color: white;
  padding: 10px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.btn2 {
  padding: 10px;
  color: #ffff;
  background-color: var(--line-color);
  border-radius: 10px;
  border: none;
}

/* bg */
.bg {
  background-color: #ffff;
  z-index: 1000;
  min-height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.head-line {
  position: relative;
  display: inline-block;
}

.head-line::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: var(--line-color);
  bottom: -5px;
}

.line {
  position: relative;
  display: inline-block;
}

.line::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 30px;
  top: 0;
  right: 20px;
  background-color: var(--line-color);
}

.body-contents {
  min-height: 100vh;
}

/* second page */
.second-page {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  gap: 20px;
}
.box {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.video-box {
  width: 100%;
  overflow: hidden;
}
.boards {
  margin-top: 5rem;
}
.announcements,
.admission {
  padding: 10px;
  margin: 10px;
  min-height: 200px;
  width: 100%;
}

.nav-btn:hover {
  background-color: #e55252;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.school-description {
  margin-top: 5rem;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  text-align: justify;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.gallary-img {
  > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* object-fit: cover; */
  }
}

/* Responsive styles for Coming Soon Page */
@media (max-width: 768px) {
  .landing-page-img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  h1 {
    font-size: 2rem !important;
    width: 100% !important;
  }

  .landing-content {
    > h2 {
      font-size: 1rem;
      margin-top: 0;
    }
    > p {
      width: 100%;
    }
  }
  .landing-btns {
    margin-top: 0;
  }

  .socials {
    flex-direction: row !important;
  }

  .second-page {
    display: flex;
    flex-direction: column;
  }

  .school-description {
    font-size: 0.5rem;
  }

  .boards {
    margin-top: 1rem;
  }

  .why{
    h2{
      display:block !important;
    }
  }

  .why-img{
    object-fit: cover;
    height: 300px;
    width: 100% !important;
  }

  .why-des{
    >h1{
      font-size: 1.5rem !important;
    }
  }
}

@media (max-width: 480px) {
 
}
